* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #232323;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.footer {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 60px;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}

.colour-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  min-height: 30%;
  padding: 10px;
  border-radius: 10px;
  margin: 100px 0 50px;
}

.colour-container-inner {
  width: 100%;
  height: 100px;
  border: 2px solid rgb(0, 0, 0);
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn {
  width: 50%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: #a4a4a4;
}

.guesser-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  border: 2px solid black;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 85%;
  height: 20px;
  border-radius: 10px;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

input[type="range"].red-input {
  background: linear-gradient(to right, rgb(255, 180, 180), red);
}

input[type="range"].green-input {
  background: linear-gradient(to right, rgb(180, 255, 180), green);
}

input[type="range"].blue-input {
  background: linear-gradient(to right, rgb(180, 180, 255), blue);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

input[type="range"].red-input::-webkit-slider-thumb {
  background: red;
  border: 1px solid black;
}

input[type="range"].green-input::-webkit-slider-thumb {
  background: green;
  border: 1px solid black
}

input[type="range"].blue-input::-webkit-slider-thumb {
  background: blue;
  border: 1px solid black
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

input[type="range"].red-input::-moz-range-thumb {
  background: red;
  border: 1px solid black
}

input[type="range"].green-input::-moz-range-thumb {
  background: green;
  border: 1px solid black
}

input[type="range"].blue-input::-moz-range-thumb {
  background: blue;
  border: 1px solid black
}

.input-group {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 3%;
  padding: 10px;
}

.input-number {
  width: 12%;
  height: 100%;
  padding: 7px;
}

.guess-button,
.next-button {
  margin-bottom: 10px;
}

.predictions-container {
  width: 700px;
  height: 100px;
  margin-bottom: 100px;
}

.predictions-container-inner {
  display: flex;
  justify-content: baseline;
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

.prediction-box {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  width: 100px;
  height: 100%;
  cursor: pointer;
}

.prediction-box p {
  background-color: initial;
}

.prediction-box:hover {
  height: 120px;
}

.colour-container h1 {
  font-size: 48px;
}

@media(max-width: 768px) {
  .btn {
    padding: 8px;
    font-size: 13px;
  }

  .colour-container h1 {
    font-size: 32px;
    margin-bottom: 72px;
  }

  .predictions-container {
    width: 450px;
    height: 90px;
    margin-bottom: 80px;
  }

  .predictions-container-inner {
    border: 1px solid black;
  }

  .prediction-box {
    width: 90px;
    height: 100%;
    cursor: pointer;
  }

  .prediction-box:hover {
    height: 110px;
  }

  .predictions-container h2 {
    font-size: 18px;
  }

  .prediction-box p {
    font-size: 11px;
  }

  input[type="range"] {
    height: 15px;
  }

  .guesser-container {
    width: 450px;
  }

  .input-number {
    width: 12%;
    height: 100%;
    padding: 4px;
  }
}

@media(max-width: 450px) {
  .btn {
    padding: 8px;
    font-size: 13px;
  }

  .colour-container h1 {
    font-size: 32px;
    margin-bottom: 36px;
  }

  .predictions-container {
    width: 360px;
    height: 90px;
    margin-bottom: 60px;
  }

  .predictions-container-inner {
    border: 1px solid black;
  }

  .prediction-box {
    width: 60px;
    height: 100%;
  }

  .predictions-container h2 {
    font-size: 14px;
  }

  .prediction-box p {
    font-size: 10px;
  }

  .guesser-container {
    width: 360px;
  }

  .input-number {
    width: 12%;
    height: 100%;
    padding: 3px;
  }
}